USE [master]
GO
/****** Object:  Database [Airbnb_dwh]    Script Date: 23.05.2021 13:44:27 ******/
CREATE DATABASE [Airbnb_dwh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Airbnb_dwh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Airbnb_dwh.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Airbnb_dwh_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Airbnb_dwh_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Airbnb_dwh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Airbnb_dwh]
GO
/****** Object:  Table [dbo].[Amenity]    Script Date: 23.05.2021 13:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Amenity](
	[AmenityID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AmenityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DateDimension]    Script Date: 23.05.2021 13:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DateDimension](
	[DateID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Day] [tinyint] NOT NULL,
	[DaySuffix] [char](2) NOT NULL,
	[Weekday] [tinyint] NOT NULL,
	[WeekDayName] [varchar](10) NOT NULL,
	[IsWeekend] [bit] NOT NULL,
	[IsHoliday] [bit] NOT NULL,
	[HolidayText] [varchar](64) SPARSE  NULL,
	[DOWInMonth] [tinyint] NOT NULL,
	[DayOfYear] [smallint] NOT NULL,
	[WeekOfMonth] [tinyint] NOT NULL,
	[WeekOfYear] [tinyint] NOT NULL,
	[ISOWeekOfYear] [tinyint] NOT NULL,
	[Month] [tinyint] NOT NULL,
	[MonthName] [varchar](10) NOT NULL,
	[Quarter] [tinyint] NOT NULL,
	[QuarterName] [varchar](6) NOT NULL,
	[Year] [int] NOT NULL,
	[MMYYYY] [char](6) NOT NULL,
	[MonthYear] [char](7) NOT NULL,
	[FirstDayOfMonth] [date] NOT NULL,
	[LastDayOfMonth] [date] NOT NULL,
	[FirstDayOfQuarter] [date] NOT NULL,
	[LastDayOfQuarter] [date] NOT NULL,
	[FirstDayOfYear] [date] NOT NULL,
	[LastDayOfYear] [date] NOT NULL,
	[FirstDayOfNextMonth] [date] NOT NULL,
	[FirstDayOfNextYear] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Host]    Script Date: 23.05.2021 13:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Host](
	[HostID] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[HostSinceDateID] [int] NOT NULL,
	[IsSuperHost] [bit] NOT NULL,
	[HasProfilePicture] [bit] NOT NULL,
	[HasIdentityVerified] [bit] NOT NULL,
	[ResponseTime] [nvarchar](100) NOT NULL,
	[ResponseRate] [nvarchar](100) NOT NULL,
	[AcceptanceRate] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListingAmenity]    Script Date: 23.05.2021 13:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListingAmenity](
	[ListingID] [int] NOT NULL,
	[AmenityID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ListingID] ASC,
	[AmenityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListingFact]    Script Date: 23.05.2021 13:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListingFact](
	[ListingID] [int] NOT NULL,
	[UpdateDateID] [int] NOT NULL,
	[HostID] [int] NOT NULL,
	[LocationID] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[PropertyType] [nvarchar](100) NOT NULL,
	[RoomType] [nvarchar](100) NOT NULL,
	[InstantBookable] [bit] NOT NULL,
	[FirstReviewDateID] [int] NOT NULL,
	[LastReviewDateID] [int] NOT NULL,
	[Accommodates] [int] NOT NULL,
	[Bathrooms] [int] NOT NULL,
	[BathroomType] [nvarchar](50) NOT NULL,
	[Beds] [int] NOT NULL,
	[PricePerNight] [float] NOT NULL,
	[MinNights] [int] NOT NULL,
	[MaxNights] [int] NOT NULL,
	[Availability365] [int] NOT NULL,
	[NumberOfReviews] [int] NOT NULL,
	[NumberOfReviewsPerMonth] [int] NOT NULL,
	[ReviewScoresTotal] [int] NOT NULL,
	[ReviewScoresCleanliness] [int] NOT NULL,
	[ReviewScoresCheckIn] [int] NOT NULL,
	[ReviewScoresCommunication] [int] NOT NULL,
	[ReviewScoresLocation] [int] NOT NULL,
	[HostListingsCount] [int] NOT NULL,
	[RegionTouristArrivals] [int] NOT NULL,
	[RegionTouristEstablishments] [int] NOT NULL,
	[RegionAirTransportPassengers] [int] NOT NULL,
	[RegionPopulation] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ListingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 23.05.2021 13:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[LocationID] [int] NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
	[Region] [nvarchar](100) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[CountryCode] [nchar](3) NOT NULL,
	[RegionCode] [nchar](4) NOT NULL,
	[IsCoastal] [bit] NOT NULL,
 CONSTRAINT [PK__Location__E7FEA47790D4FBE0] PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Host]  WITH CHECK ADD  CONSTRAINT [FK_Host_DateDimension] FOREIGN KEY([HostSinceDateID])
REFERENCES [dbo].[DateDimension] ([DateID])
GO
ALTER TABLE [dbo].[Host] CHECK CONSTRAINT [FK_Host_DateDimension]
GO
ALTER TABLE [dbo].[ListingAmenity]  WITH CHECK ADD  CONSTRAINT [FK_ListingAmenity_Amenity] FOREIGN KEY([AmenityID])
REFERENCES [dbo].[Amenity] ([AmenityID])
GO
ALTER TABLE [dbo].[ListingAmenity] CHECK CONSTRAINT [FK_ListingAmenity_Amenity]
GO
ALTER TABLE [dbo].[ListingAmenity]  WITH CHECK ADD  CONSTRAINT [FK_ListingAmenity_ListingFact] FOREIGN KEY([ListingID])
REFERENCES [dbo].[ListingFact] ([ListingID])
GO
ALTER TABLE [dbo].[ListingAmenity] CHECK CONSTRAINT [FK_ListingAmenity_ListingFact]
GO
ALTER TABLE [dbo].[ListingFact]  WITH CHECK ADD  CONSTRAINT [FK_ListingFact_DateDimension] FOREIGN KEY([FirstReviewDateID])
REFERENCES [dbo].[DateDimension] ([DateID])
GO
ALTER TABLE [dbo].[ListingFact] CHECK CONSTRAINT [FK_ListingFact_DateDimension]
GO
ALTER TABLE [dbo].[ListingFact]  WITH CHECK ADD  CONSTRAINT [FK_ListingFact_DateDimension1] FOREIGN KEY([LastReviewDateID])
REFERENCES [dbo].[DateDimension] ([DateID])
GO
ALTER TABLE [dbo].[ListingFact] CHECK CONSTRAINT [FK_ListingFact_DateDimension1]
GO
ALTER TABLE [dbo].[ListingFact]  WITH CHECK ADD  CONSTRAINT [FK_ListingFact_DateDimension2] FOREIGN KEY([UpdateDateID])
REFERENCES [dbo].[DateDimension] ([DateID])
GO
ALTER TABLE [dbo].[ListingFact] CHECK CONSTRAINT [FK_ListingFact_DateDimension2]
GO
ALTER TABLE [dbo].[ListingFact]  WITH CHECK ADD  CONSTRAINT [FK_ListingFact_Host] FOREIGN KEY([HostID])
REFERENCES [dbo].[Host] ([HostID])
GO
ALTER TABLE [dbo].[ListingFact] CHECK CONSTRAINT [FK_ListingFact_Host]
GO
ALTER TABLE [dbo].[ListingFact]  WITH CHECK ADD  CONSTRAINT [FK_ListingFact_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[Location] ([LocationID])
GO
ALTER TABLE [dbo].[ListingFact] CHECK CONSTRAINT [FK_ListingFact_Location]
GO
USE [master]
GO
